
.container {
    margin-top: 60px;
}

.taskItem {
    background-color: #eee !important;
    /* border-bottom: thin solid #26a69a !important; */
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes slideIn{
  from {
    margin-right: 100%;
    width: 0;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.slideOut {
  animation-name: slideout;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes slideout{
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

